.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.NavBrand {
  justify-content: flex-start;
}

.nav-items{
  align-content: right;
}

.navbar-brand{
  padding-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
